<_within file="application.html">

  <div id="content">
    <div id="form">
      <h1 id="header">One Breaker</h1>
      <div class="input">
        <label id="name-input-label">
          <span>name</span>
          <input id="name-input" size="30" type="text"/>
        </label>
        <div id="name-input-error" class="small error">&nbsp;</div>
      </div>
      <table>
       <tr>
         <td id="red" class="peg red">p</td>
         <td id="yellow" class="peg yellow">p</td>
         <td id="blue" class="peg blue">p</td>
         <td id="green" class="peg green">p</td>
       </tr>
      </table>

      <input id="greet-button" class="button green" type="button" value="Done!">
    </div>
  </div>
  
</_within>
