<_within file="application.html">
  <div id="content">
    <div id="form">
      <h1 id="header">One Breaker</h1>
      <div class="input">
        <div id="name-input-error" class="small error">&nbsp;</div>
      </div>
      <table>
       <tr>
         <td id="red" class="peg red">p</td>
         <td id="yellow" class="peg yellow">p</td>
         <td id="blue" class="peg blue">p</td>
         <td id="green" class="peg green">p</td>
       </tr>
      </table>
      <div id="drop-target"/>
    </div>
  </div>
  
</_within>
