<_within file="application.html">
  <div id="content">
    <div id="form">
      <table>
       <tr>
         <td id="red" class="peg red">p</td>
         <td id="yellow" class="peg yellow">p</td>
         <td id="blue" class="peg blue">p</td>
         <td id="green" class="peg green">p</td>
       </tr>
      </table>
      <div id="drop-target" class="place">
	<table >
	  <tr>
	    <td><div  class="place-div"/></td>
	    <td><div  class="place-div"/></td>
	    <td><div  class="place-div"/></td>
	    <td><div class="place-div"/></td>
	    </tr>
	  <tr>
	    <td><div  class="place-div"/></td>
	    <td><div  class="place-div"/></td>
	    <td><div  class="place-div"/></td>
	    <td><div class="place-div"/></td>
	    </tr>
	  <tr>
	    <td><div class="place-div"/></td>
	    <td><div class="place-div"/></td>
	    <td><div class="place-div"/></td>
	    <td><div class="place-div"/></td>
	    </tr>
	  <tr>
	    <td><div class="place-div"/></td>
	    <td><div class="place-div"/></td>
	    <td><div class="place-div"/></td>
	    <td><div class="place-div"/></td>
	    </tr>
	  <tr>
	    <td><div class="place-div"/></td>
	    <td><div class="place-div"/></td>
	    <td><div class="place-div"/></td>
	    <td><div class="place-div"/></td>
	    </tr>
	  <tr>
	    <td><div id="11" class="place-div"/></td>
	    <td><div id="12" class="place-div"/></td>
	    <td><div id="13" class="place-div"/></td>
	    <td> <div id="14" class="place-div"/></td>
	    </tr>
	  <tr>
	    <td><div id="11" class="place-div"/></td>
	    <td><div id="12" class="place-div"/></td>
	    <td><div id="13" class="place-div"/></td>
	    <td> <div id="14" class="place-div"/></td>
	    </tr>
	  <tr>
	    <td><div id="11" class="place-div"/></td>
	    <td><div id="12" class="place-div"/></td>
	    <td><div id="13" class="place-div"/></td>
	    <td> <div id="14" class="place-div"/></td>
	    </tr>
	  </table>
      </div>
    </div>
  </div>
  
</_within>
